.imgacerca{
    width: 100%;
    height:200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-image: url(/src/img/fondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.acerca{
    width: 100%;
    height:750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f1f6f6;
    padding: 20px;
}
.acerca h1 {
    font-size: 34px;
    margin: 20px;
    color: #333;
}

.container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}
.About {
    width: 50%;
    height: 50%;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
    .About, .acerca {
        width: 100%;
        height: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 5px 0;

    }
    .About h2, .acerca h2 {
        font-size: 20px;
    }
    .About p, .acerca p {
        font-size: 18px;
    }
         .container-about{
        flex-direction: column;
        height: auto;
    }
}

