.checkout {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 4px;
}
.checkout h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 10px;
  color: #555;
}
.nombre{
  color:black;
}
.mail{
  color:black;
}
.direccion{
  color:black;
}

.form-group {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
}

.form-group input {

  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}
.checkout button {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
}
.method-payment {
  margin-top: 5px;
  padding: 15px;
  background-color: #f9f9f9;
}
.select-payment {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.pago-info{
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
}

.payment-form {
  margin-top: 20px;
  padding: 13px;
  background-color: #f9f9f9;
}


.payment-form label {
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
}

.payment-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.payment-info h4 {
  margin-top: 5PX;
  color: #333;
}
.payment-info p{
  margin: 5px 0;
  font-size: 14px;
  color: #292828;
}
.confirm-payment{
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px; 
}