.logoHome{
    background-image: url(/src/img/fondo1.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}
.textPrincipal{
    color: rgb(11, 11, 11);
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #c3c3c3;
}

.textFondo{
    color: rgb(177, 175, 175);
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px #2a2e07;
    height: 120px;
    letter-spacing: 5px;
}
.textHom{
    color: rgb(12, 11, 11);
    text-align: left;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    margin-left: 50px;
    width:600px;
    height: 200px;
    font-weight: bold;
}
.carrousel{
    margin-top: 50px;
    margin-bottom: 50px;
}
.juego{
    color: #ededed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color:#100f0fe0;
}
.juego h3{
    margin: 30px 10px;;
    font-size: 24px;
    color: #ffffff;
}
.juego img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.juegosDestacados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.botonVer{
    background-color: #4CAF50;
    border: none;
    color: rgb(250, 247, 247);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
.botonVer:hover {
    background-color: #4d6f4f;
}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: #f8f8f8;
    margin: 20px;
    width: 1300px;
    display: flex;
    align-items: center;
    padding: 20px;

}

.OfreceJuego{
    background-color: #fefdfdd9;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OfreceJuego p{
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;

}
.imgJuego{
    width: 450px;
    height: 400px;
    margin-bottom: 20px;
    background-image: url(/src/img/W2K23.webp);
    background-size: cover;
}
.ofrece-card-btn {
   display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

/*Juegos destacados*/
.call{
    background-image: url(/src/img/CallGOLDWAR.png);
    width: 250px;
    height: 210px;
    margin-bottom: 20px;
    background-size: cover;
}
.unch{
    background-image: url(/src/img/Uncharted.jpg);
    width: 250px;
    height: 210px;
    margin-bottom: 20px;
    background-size: cover;
}
.ufc{
    background-image: url(/src/img/UFC5.jpg);
    width: 250px;
    height: 210px;
    margin-bottom: 20px;
    background-size: cover;
}
.crash{
    background-image: url(/src/img/Crash.jpeg);
    width: 250px;
    height: 210px;
    margin-bottom: 20px;
    background-size: cover;
}
.juego-img-destacado {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}


/* Responsive Design */
@media (max-width: 768px) {
    .card{
        flex-direction: column;
        width: 90%;
    }
    .imgJuego{
        width: 100%;
        height: 300px;
        background-image: url(/src/img/W2K23.webp);
    }
    .textHom{
        font-size: 30px;
        width: 90%;
        margin-left: 0;
        text-align: center;
    }
}