.container-det{
  width: 1400px;
  height: 693px;
}
.detalle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    color: white;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  
  .detalle-img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .detalle-info {
    text-align: center;
  }
  
  .detalle-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .detalle-info h2 {
    font-size: 1.5rem;
    color: #ccc;
    margin-bottom: 20px;
  }
  
  .detalle-info p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  @media (min-width: 768px) {
    .detalle-container {
      flex-direction: row;
      text-align: left;
    }
  
    .detalle-info {
      text-align: left;
    }
  
    .detalle-img {
      max-width: 40%;
    }
  }
 
.detalle-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
  margin: 20px 0;
}

.detalle-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
