/* Agrega esto a tu archivo Juegos.css */

.container-principal {
    display: flex;
    width: 1200px;
    height: 1000px;
    gap: 2rem;
    padding: 2rem; 
  }
  
  .container-filter-juegos {
    flex: 0 0 200px; 
    background: linear-gradient(45deg, #0a6ea0, #b8b9b6);
    text-align: center;
    box-shadow: #fafafa 10px 10px;
    border-radius: 10px ;
  }
  .container-filter-juegos h3{
    text-align: center;
    text-shadow: 0px 2px rgb(128, 126, 126) ;
    font-size: 25px;
  }
  .container-filter-juegos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .container-filter-juegos li {
    padding: 12px 20px;
    background-color: #fffefe;
    color: rgb(20, 20, 20);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: #1e1e1d 10px 10px 10px;
  }

    
  .container-juegos {
    flex: 1; 
    height: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5.8rem; 
  }
  .juego-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 0;
    padding: 0 1rem; 
  }
  
  
  .juego-card {
    width: 300px;
    height: 360px;
    background-color: #2a2a2a;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  .juego-card img{
    width: 200px;
    height: 200px;
  }
  .juego-card:hover {
    transform: scale(1.05); 
  }
  
  .juego-card h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  .container-filter-juegos li {
    cursor: pointer;
  }
  
  .container-filter-juegos li.active {
    /* Por ejemplo, para resaltar el filtro activo */
    font-weight: bold;
    color: #00aaff; /* O el color que prefieras */
  }
  