/* Agrega esto a tu archivo Juegos.css */
:root{
  --botones-hover: #ff8533;
  --boton-compras-Bg-color:#ff6600;
}

.container-principal {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding: 2rem; 
  }
  
  .container-filter-juegos {
    flex: 0 0 225px; 
    background: linear-gradient(200deg, #2a2a2a, #8e8b8b);
    text-align: center;
    box-shadow: #6a6969 10px 10px;
    border-radius: 10px ;
    height: fit-content;
  }
  .container-filter-juegos h3{
    color: #fafafa;
    text-align: center;
    text-shadow: 0px 2px rgb(171, 129, 40) ;
    font-size: 25px;
  }
  .container-filter-juegos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .container-filter-juegos li {
    padding: 12px 20px;
    background-color: #f2f1f1;
    color: rgb(16, 16, 16);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: #1e1e1d 10px 10px 10px;
  }

    
  .container-juegos {
    flex: 1; 
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 1rem;
    gap: 7rem; 
    word-wrap: wrap;
    justify-items: center;
    align-items: start;
    padding: 40px;
    }

  .juego-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 0;
    padding: 0 1rem; 
  }
  
  
  .juego-card {
    width: 360px;
    height: 380px;
    background-color: #2a2a2a;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  .juego-card img{
    width: 250px;
    height: 200px;
  }
  .juego-card:hover {
    transform: scale(1.05); 
  }
  
  .juego-card h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  .container-filter-juegos li {
    cursor: pointer;
  }
  
  .container-filter-juegos li.active {
    font-weight: bold;
    color: #00aaff; 
  }

  

  /* Estilos para los botones dentro de las tarjetas de juego*/
  .juego-card-botones {
    display: block;
    width: 310px;
    text-align: center;
    text-decoration: none;
    color: rgb(230, 230, 230);
    padding: 0.5rem;
    border-radius: 0.5rem;
    
  }
  .botonCarrito {
    background-color: var(--boton-compras-Bg-color);
    border: none;
    color: rgb(250, 247, 247);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
  }

.pagination-controls{
  display: 'flex'; 
  justify-content: 'center';
   gap: '1rem';
  margin-top: '20px' ;
  width: '100%' ;
  align-items: 'center';
}
.pagination-controls span{
  color: 'black'; 
  font-Weight: 'bold';

}


























  /* Responsive juegos */

  @media (max-width: 768px) {
    .container-principal {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  
    .container-filter-juegos {
      flex: none;
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .container-juegos {
      grid-template-columns: repeat(auto-fill, minmax(130px, 2fr));
      gap: 5rem;
    }
  
    .juego-card {
      width: 200px;
      height: auto;
     
    }
  
    .juego-card img {
      width: 150px;
      height: 150px;
    }
    .juego-card-botones {
      width: 100%;
    }
    .juego-card-info {
      flex-direction: column;
      align-items: flex-start;
    }
  }